body {

  margin: 0;
    background-image: url("file:///Users/romanepolard/Desktop/Site%20Roro/website/pexels-photo-373076.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;


}

.page {
  width:100%;
}

.logo {
  background: black;
  width: 100%;
  text-align: center;
}

.logo img {
  max-width: 100%;
  padding: 0.45em;
}

.menu-profil {
  background: black;
  width: 25%;
  float: left;
  text-align: center;
}

.menu-resume {
  background: black;
  width: 25%;
  float: left;
  text-align: center;
}

.menu-portofolio {
  background: black;
  width: 25%;
  float: right;
  text-align: center;
}

.menu-contact {
  background: black;
  width: 25%;
  float: right;
  text-align: center;
}

@media screen and (max-width:768px){
  .menu {
    float: left;
    width: 100%;
    text-align: center;
  }

  .menu-profil,
  .menu-portofolio {
    clear: left;
    float: left;
    width: 50%;
  }
 .menu-resume,
 .menu-contact{
   clear: right;
   float: right;
   width: 50%;
 }
}
/* ------------------------------------------*/

@media screen and (max-width:320px){
  .menu {
    float: left;
    width: 100%;
    text-align: center;
  }

  .menu-profil,
  .menu-portofolio {
    clear: left;
    float: left;
    width: 100%;
  }
 .menu-resume,
 .menu-contact{
   clear: right;
   float: right;
   width: 100%;
 }

 .title-profil {
   width: 100%;
   text-align: center;
   font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
   font-size: 1.1em;
   padding-top: 1.7em;
}

h2 {
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  color: #6C6C6C;
}

}
/* ------------------------------------------*/

#nav {
  font-size: 1.1em;
  margin: 0.2em;
}

#nav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
}

#nav a:hover {
  color: #04c9c3;
  text-decoration: none;
  font-size: 17px;
  font-weight: normal;
}

h1 {
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}


.title-profil {
  width: 100%;
  text-align: center;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 1.1em;
  margin-top: 3em;


}

h2 {
  text-decoration: none;
  font-weight: normal;
  color: #6C6C6C;
}


@media screen and (max-width:768px){

.title-profil {
  width: 100%;
  text-align: center;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 1.1em;
  margin-top: 4.5em;
}
}
/* ------------------------------------------*/

.background img {
  z-index: -1;

}
.transparent {
  width: 100%;
  height: 100%;
}

.portofolio {
  background: black;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  z-index: 1;
  cursor: url("file:///Users/romanepolard/Desktop/Site%20Roro/website/cat.png");

}

.portofolio p {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: white;
}

.portofolio a {
  text-decoration: none;
}

@media screen and (max-width:840px){

.transparent {
  width: 100;
  height: 30%;
}
}

@media screen and (max-width:550px){

.transparent {
  width: 100;
  height: 0.1em;
}
}

@media screen and (max-width:380px){

.transparent{
  color: white;
}
}


/* -------------------------------- FOOTER ---------------------------------*/

.contact{
  background: #2D2F2F;
  border-top-style: solid;
  border-top-width: 10px black;
}

.contact img {
  background:url(file:///Users/romanepolard/Desktop/Site%20Roro/website/fb%20color.png);
  width:30px;
  height:30px;
}

.contact img:hover {
  background:url(file:///Users/romanepolard/Desktop/Site%20Roro/website/fb%20color.png);
  width:30px;
  height:30px;
}

form {
    margin: 0 auto;
    width: 50%;
    padding: 2em;

}

form div + div {
    margin-top: 0.8em;
}

label {
    display: inline-block;
    width: 20%;
    text-align: right;
}
input, textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
.button {
    padding-left: 20%;
}

button {
    margin-left: .5em;
}

.contact a {
  padding-left: 1%;
}

@media screen and (max-width:650px){

label {
width: 30%;
}

input, textarea {
  width: 150px;
}

}
